<h3>Reset Password</h3>
<form action="/reqResetPass?_method=PUT" method="POST">
    <label for="username"><b>Username/E-Mail</b></label>
    <input type="text" placeholder="Enter Username" name="username">

    <label for="securityCode"><b>Security Code</b></label>
    <input type="text" placeholder="Enter Security Code" name="securityCode">

    <label for="password"><b>New Password</b></label>
    <input type="password" placeholder="Enter New Password" name="password">

    <input type="submit" value="Reset Password" class="btn">
</form>