<h1>Profile Information</h1>
<article class="article">
    <span><b>Username: </b><%= data.username %></span></br>
    <span><b>First Name: </b><%= data.firstName %></span></br>
    <span><b>Last Name: </b><%= data.lastName %></span></br>
    <span><b>User since: </b><%= data.createdAt.toDateString() %></span>
</article>